// Variables
@import './helpers/variables.scss';
@import './helpers/mixins.scss';

// Pages
@import './pages/homepage/home.scss';
@import './pages/homepage/services.scss';
@import './pages/homepage/work.scss';
@import './pages/homepage/cta-careers.scss';
@import './pages/homepage/cta.scss';
@import './pages/homepage/testimonials.scss';
@import './pages/homepage/footer.scss';

@import './pages/about/header.scss';
@import './pages/about/content.scss';

@import './pages/careers/header.scss';
@import './pages/careers/content.scss';

@import './pages/services/header.scss';
@import './pages/services/content.scss';

@import './pages/contact/header.scss';
@import './pages/contact/content.scss';

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $regular-text;
    color: $text-white;
}

html {
    scroll-behavior: smooth;
}


.overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0f0f0ff2;
    z-index: 99999;
}

.nav-colored {
    background-color: #082931f2 !important;
}

.nav-transparent {
    background-color: transparent !important;
}

.overlay nav {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay nav ul {
    list-style: none;
}

.overlay ul li {
    padding: 1rem;
}

.overlay li a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.overlay .close-button {
    position: absolute;
    top: 28px;
    right: 21px;
    font-size: 2rem;
}


@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }
}

.contact-map {
    width: 100%;
    height: 65vh;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $darkBlue;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f06037c9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #305c5c;
}

.btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    touch-action: manipulation;
    user-select: none;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border: 0;

    transition: all 250ms ease-in-out;

    text-transform: uppercase;
    letter-spacing: 4px;
}

.btn--gradient {
    transition: all 500ms ease-in-out;
    font-size: 24px;

    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: linear-gradient(54.7deg, #21546e 12%, #67bdcc 100%);
}


.btn--gradient:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    opacity: 0;

    transition: all 500ms ease-in-out;
    background: linear-gradient(54.7deg, #67bdcc 12%, #21546e 100%);
}

.btn--gradient:hover:before {
    opacity: 1;
    color: #fff;
}

.btn--xlrg {
    height: 68px;
    line-height: 68px;
    padding: 0 2rem;

    @include mobile {
        line-height: 45px;
        height: 50px;
    }
}

.btn__text {
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;

    @include mobile() {
        font-size: 0.7rem;         
    }
}

.underline {
    height: 0.3rem;
    background: #f06037c4;
    width: 8rem;
    border: none;
    margin-bottom: 1.5rem;
}

.center {
    margin: 0 auto;
}

.gradient-background {
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 89%);
}