// Colors
$light-black: #ababab;
$dark-black: #0f0f0f;
$text-white: #efefef;
$blue: #337a94;
$lightBlue: #67bdcc;
$darkBlue: #21546e;
$orange: #f06037;

// Fonts
$styled-text: 'Bebas Neue', cursive;
$regular-text:' Open Sans', sans-serif;