.header {
    height: 100vh;

    .vegas-slide {
        filter: brightness(95%) grayscale(5%);

        @include mobile() {
            .vegas-video {
                object-position: 46% 0%;
            }
        }
    }

    @include nav;

    .cta {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include mobile {
            height: 90vh;
        }

        .cta-heading {
            font-weight: 300;
            font-size: 5.7rem;
            line-height: 1rem;
            font-family: $styled-text;
            text-shadow: 0 0 10px black;

            @include mobile() {
                font-size: 4.2rem;
                margin: 1.5rem 0;
            }
        }

        .cta-subheading {
            font-weight: 100;
            font-size: 3rem;
            line-height: 6rem;
            text-shadow: 0 0 10px black;

            @include mobile() {
                font-size: 2.2rem;
                text-align: center;
                line-height: 4rem;
            }
        }

        .btn-transparent {
            background: transparent;
            border: 1px solid white;
            outline: none;

            &:hover {
                background: white;
                span {
                    color: $dark-black;
                }
            }
        }

        .est-wrap {
            display: flex;
            align-items: center;

            .cta-line {
                width: 1.5rem;
                border: none;
                height: 2px;
                background: $blue;
            }
        }
    }

    .scroll {
        display: flex;
        justify-content: center;

        .box span {
            width: 20px;
            height: 20px;
            display: block;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
        }

        .box span:nth-child(2) {
            animation-delay: -0.2s;
        }

        .box span:nth-child(3) {
            animation-delay: -0.4s;
        }

        @keyframes animate {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
                transform: rotate(45deg) translate(10px, 10px);
            }

            100% {
                opacity: 0;
            }
        }
    }
}